{
  "openapi": "3.1.0",
  "info": {
    "title": "1Platform API",
    "description": "# 1Platform API\n\nREST API powering the **1Platform** platform — content generation, SEO tooling, billing, invoicing, and third-party integrations.\n\n---\n\n## Authentication\n\n1Platform uses a **two-token** authentication model:\n\n| Token | Header | How to obtain | Purpose |\n|-------|--------|---------------|---------|\n| **App token** | `Authorization: Bearer <token>` | `POST /api/v1/auth/token` with your App API key | Identifies the calling application |\n| **User token** | `x-user-token: <token>` | `POST /api/v1/users/token` with the user API key | Identifies the end user |\n\nMost endpoints require **both** tokens. Exceptions are noted per endpoint.\n\n## Quickstart\n\n```bash\n# 1. Get an app token\ncurl -X POST https://api.1platform.pro/api/v1/auth/token \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"ak-your-app-api-key\"}'\n\n# 2. Get a user token (requires app token)\ncurl -X POST https://api.1platform.pro/api/v1/users/token \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"sk-user-api-key\"}'\n\n# 3. Call any protected endpoint (requires both tokens)\ncurl https://api.1platform.pro/api/v1/users/profile \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\"\n```\n\n## Base URL\n\nAll endpoints are prefixed with `/api/v1/`.\n\n## Rate Limits\n\n| Category | Limit |\n|----------|-------|\n| Health | 100 req/min |\n| Auth | 10 req/min |\n| Read operations | 50 req/min |\n| Write operations | 20 req/min |\n| Keyword generation | 10 req/min |\n| Content generation | 5 req/min |\n| Indexing | 20 req/min |\n\n## Response Format\n\nAll endpoints return a standard wrapper (except webhooks):\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"msg\": \"Operation completed successfully\"\n}\n```\n",
    "version": "PRODv1.7.2"
  },
  "servers": [
    {
      "url": "https://api.1platform.pro",
      "description": "Production"
    },
    {
      "url": "https://api-qa.1platform.pro",
      "description": "QA"
    }
  ],
  "paths": {
    "/api/v1/health/": {
      "get": {
        "tags": [
          "API Status"
        ],
        "summary": "Check service health",
        "description": "Returns the current health status of the API and its dependencies (database connectivity, etc.).\n\n- **Auth:** None required\n- **Rate limit:** 100 req/min",
        "operationId": "health_check_api_v1_health__get",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_HealthStatus_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "service": "ok",
                    "database": "connected"
                  },
                  "msg": "Health check completed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unhealthy — dependency check failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Database connection failed"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/token": {
      "post": {
        "tags": [
          "Get App Token"
        ],
        "summary": "Generate app token",
        "description": "Authenticate with an App API key and receive a JWT app token.\n\n- **Auth:** None — this is the entry point for obtaining tokens\n- **Rate limit:** 10 req/min\n- The returned `access_token` must be sent as `Authorization: Bearer <token>` on all protected endpoints\n- Token expires after the time indicated in `expires_in` (seconds)",
        "operationId": "get_token_api_v1_auth_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TokenResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIs...",
                    "token_type": "bearer",
                    "expires_in": 1800
                  },
                  "msg": "App token generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — missing or malformed `apiKey`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: apiKey field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/keywords/": {
      "post": {
        "tags": [
          "Keywords, Content & Indexing"
        ],
        "summary": "Extract keywords from a domain",
        "description": "Analyze a domain and extract SEO keywords using AI-powered search analysis.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 10 req/min\n- Requires an active App with AI provider configured\n\n**Process:**\n1. Analyzes domain content and structure\n2. Extracts relevant keywords via search providers\n3. Uses 1Platform AI to detect keyword cannibalization\n4. Categorizes keywords by search intent and volume\n5. Returns structured keyword data with metrics\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/keywords/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"domain\": \"example.com\", \"country\": \"es\", \"lang\": \"en\"}'\n```",
        "operationId": "generate_keywords_api_v1_posts_keywords__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Keywords generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_KeywordExtractResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 50,
                    "categories": [
                      "SEO",
                      "Content Marketing"
                    ],
                    "country": "es",
                    "lang": "en",
                    "domain": "example.com",
                    "keywords": [
                      {
                        "keyword": "example keyword",
                        "title": "Example Article Title",
                        "original_title": "Example Article Title",
                        "original_keyword": "example keyword",
                        "volume": 1200,
                        "url": "https://example.com/article"
                      }
                    ]
                  },
                  "msg": "Successfully generated 50 keywords"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Service configuration error or provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/content/": {
      "post": {
        "tags": [
          "Keywords, Content & Indexing"
        ],
        "summary": "Submit content generation job",
        "description": "Submit an async content generation job for a target keyword.\n\nReturns immediately with a job ID. Use `GET /content/jobs/{job_id}` to poll status.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 5 req/min (AI-intensive)\n- Requires AI and image provider keys in the App configuration\n\n**Process (runs in background):**\n1. Generates title variations via 1Platform AI\n2. Searches related content using search providers\n3. Produces structured article with headings and paragraphs\n4. Fetches relevant images from the configured image library\n5. Creates a URL-friendly slug\n6. Classifies content into provided categories\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/content/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"keyword\": \"best running shoes\", \"lang\": \"en\", \"image_provider\": \"default\", \"categories\": [\"sports\"]}'\n```",
        "operationId": "generate_content_api_v1_posts_content__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Content generation job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_JobResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_id": "507f1f77bcf86cd799439011",
                    "type": "content",
                    "status": "pending",
                    "input": {
                      "keyword": "best running shoes",
                      "lang": "en",
                      "image_provider": "default"
                    },
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "Content generation job created for keyword: best running shoes"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Service configuration error or AI provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/content/jobs/{job_id}": {
      "get": {
        "tags": [
          "Keywords, Content & Indexing"
        ],
        "summary": "Get content generation job status",
        "description": "Poll the status of an async content generation job.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- Returns job status: `pending`, `processing`, `completed`, or `failed`\n- On completion, includes the full content generation result in `data.result`\n- On failure, includes error details in `data.error`\n\n**Recommended polling interval:** 5 seconds\n\n**cURL example:**\n```bash\ncurl https://api.1platform.pro/api/v1/posts/content/jobs/JOB_ID \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\"\n```",
        "operationId": "get_content_job_api_v1_posts_content_jobs__job_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Content generation job ID",
              "title": "Job Id"
            },
            "description": "Content generation job ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_JobResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_id": "507f1f77bcf86cd799439011",
                    "type": "content",
                    "status": "completed",
                    "input": {
                      "keyword": "best running shoes",
                      "lang": "en",
                      "image_provider": "default"
                    },
                    "result": {
                      "title": "Best Running Shoes for 2026",
                      "content": "...",
                      "slug": "best-running-shoes-2026"
                    },
                    "timing": {
                      "total_ms": 8420
                    },
                    "created_at": "2026-01-15T10:30:00",
                    "started_at": "2026-01-15T10:30:01",
                    "completed_at": "2026-01-15T10:30:09"
                  },
                  "msg": "Job status: completed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/indexing/": {
      "post": {
        "tags": [
          "Keywords, Content & Indexing"
        ],
        "summary": "Submit URL for Google indexing",
        "description": "Submit a URL to the Google Indexing API for faster crawling.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- The URL must belong to a website verified in Google Search Console\n- A service account with Search Console access is required\n- The URL must be publicly accessible\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/indexing/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"https://example.com/new-page\"}'\n```",
        "operationId": "submit_url_for_indexing_api_v1_posts_indexing__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "URL submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "submitted",
                    "url": "https://example.com/new-page"
                  },
                  "msg": "URL successfully submitted for indexing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL format or inaccessible URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Google Indexing API error or service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/token": {
      "post": {
        "tags": [
          "Users & Tokens"
        ],
        "summary": "Generate user token",
        "description": "Authenticate with a user API key and receive a JWT user token.\n\n- **Auth:** `Authorization: Bearer <app_token>` only (no user token needed)\n- **Rate limit:** 10 req/min\n- The returned token must be sent as the `x-user-token` header on all user-scoped requests\n- Token expires after the time indicated in `expires_in` (seconds)\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/token \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"sk-user-api-key\"}'\n```",
        "operationId": "get_user_token_api_v1_users_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TokenResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIs...",
                    "token_type": "bearer",
                    "expires_in": 1800
                  },
                  "msg": "User token generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — missing or malformed `apiKey`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: apiKey field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "post": {
        "tags": [
          "Users & Tokens"
        ],
        "summary": "Create a new user",
        "description": "Register a new user with automatic billing and subscription setup.\n\n- **Auth:** `Authorization: Bearer <app_token>` only (no user token needed)\n- **Rate limit:** 20 req/min\n- Creates a User, Billing (balance=0 USD), and Subscription (Free Plan)\n- Returns the user's `api_key` used to obtain user tokens via `POST /api/v1/users/token`\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"email\": \"user@example.com\"}'\n```",
        "operationId": "create_user_api_v1_users_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created successfully with billing and subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "username": "user_example",
                    "api_key": "sk-abc123xyz",
                    "is_active": true,
                    "billing_id": "507f1f77bcf86cd799439012",
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "User created successfully with billing and subscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: email field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/users/profile": {
      "get": {
        "tags": [
          "My Profile"
        ],
        "summary": "Get current user profile",
        "description": "Retrieve the authenticated user's profile information.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Returns id, username, email, is_active, and created_at",
        "operationId": "get_user_profile_api_v1_users_profile_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserProfileResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "username": "john_doe",
                    "email": "john@example.com",
                    "is_active": true,
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "User profile retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/billing": {
      "get": {
        "tags": [
          "Balance & Billing"
        ],
        "summary": "Get current user billing info",
        "description": "Retrieve billing balance and active subscription data for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Returns balance, currency, and active subscription details",
        "operationId": "get_user_billing_api_v1_users_billing_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserBillingResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "billing": {
                      "id": "507f1f77bcf86cd799439012",
                      "user_id": "507f1f77bcf86cd799439011",
                      "balance": 0,
                      "currency": "USD",
                      "updated_at": "2026-01-15T10:30:00"
                    },
                    "subscription": {
                      "id": "507f1f77bcf86cd799439013",
                      "user_id": "507f1f77bcf86cd799439011",
                      "plan_id": "plan_free",
                      "status": "active",
                      "start_date": "2026-01-01T00:00:00Z",
                      "auto_renew": false
                    }
                  },
                  "msg": "Billing information retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve billing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/categories": {
      "get": {
        "tags": [
          "Content Categories"
        ],
        "summary": "List available categories",
        "description": "Retrieve available website categories for content classification.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Filter by status: `active` (default), `inactive`, or `all`",
        "operationId": "get_categories_api_v1_users_categories_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by status: active, inactive, or all",
              "default": "active",
              "title": "Status Filter"
            },
            "description": "Filter by status: active, inactive, or all"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_list_CategoryResponse__"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "507f1f77bcf86cd799439011",
                      "title": {
                        "es": "Tecnología",
                        "en": "Technology"
                      },
                      "slug": "technology",
                      "status": "active",
                      "created_at": "2026-01-01T00:00:00Z"
                    }
                  ],
                  "msg": "Categories retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Add a website",
        "description": "Register a new website for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Validates URL uniqueness per user\n- Optionally enriches the website with an AI-generated description\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/websites \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"https://myblog.com\", \"category_id\": \"<objectId>\", \"lang\": \"es\"}'\n```",
        "operationId": "create_user_website_api_v1_users_websites_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Website added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website added successfully"
                }
              }
            }
          },
          "400": {
            "description": "Website already exists for this user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Find website by URL",
        "description": "Search for a website by its URL among the authenticated user's websites.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Pass the URL as a query parameter: `?url=https://example.com`",
        "operationId": "get_user_website_by_url_api_v1_users_websites_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website URL to search",
              "title": "Url"
            },
            "description": "Website URL to search"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website already exists"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}": {
      "patch": {
        "tags": [
          "Websites"
        ],
        "summary": "Update a website",
        "description": "Update an existing website for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Only the website owner can update it\n- All fields are optional (partial update)\n- Use this endpoint to set or update the `category_id`\n\n**cURL example:**\n```bash\ncurl -X PATCH https://api.1platform.pro/api/v1/users/websites/<WEBSITE_ID> \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"category_id\": \"<objectId>\", \"site_name\": \"Updated Name\"}'\n```",
        "operationId": "update_user_website_api_v1_users_websites__website_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Website updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "en",
                    "status": "active",
                    "site_name": "Updated Name",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website updated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get website by ID",
        "description": "Retrieve details of a specific website by its ID.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Only returns websites owned by the authenticated user",
        "operationId": "get_user_website_by_id_api_v1_users_websites__website_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete a website",
        "description": "Remove a website from the authenticated user's account.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Only the website owner can delete it\n- This action is irreversible",
        "operationId": "delete_user_website_api_v1_users_websites__website_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_NoneType_"
                },
                "example": {
                  "success": true,
                  "msg": "Website deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/publisuites": {
      "post": {
        "tags": [
          "Link Building & Search Console"
        ],
        "summary": "Manage link-building integration",
        "description": "Add or verify a website in the link-building marketplace.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Actions:** `add` (register website) or `verify` (confirm ownership)\n- The user must have marketplace credentials configured\n- After adding, verify ownership to activate the listing",
        "operationId": "manage_publisuites_website_api_v1_users_websites__website_id__publisuites_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublisuitesActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "verified",
                    "website_id": 12345
                  },
                  "msg": "Website verified in marketplace successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid action, missing credentials, or verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found in marketplace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Link-building service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/searchconsole": {
      "post": {
        "tags": [
          "Link Building & Search Console"
        ],
        "summary": "Manage Search Console integration",
        "description": "Add, verify, delete a website or manage sitemaps in Google Search Console.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Actions:** `add`, `verify`, `delete`, `sitemaps`\n- The website must be registered in the platform before adding to Search Console\n- For `sitemaps` action, include a `payload.sitemaps` array with sitemap URLs\n- Requires a Google service account with Search Console access",
        "operationId": "manage_search_console_website_api_v1_users_websites__website_id__searchconsole_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchConsoleActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "verified",
                    "site_url": "https://example.com"
                  },
                  "msg": "Website verified successfully in Search Console"
                }
              }
            }
          },
          "400": {
            "description": "Invalid action or website not registered in Search Console",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Google Search Console API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/legal": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Generate legal pages for a website",
        "description": "Generate all legal pages for a website: privacy policy, cookie policy, legal notice, contact page, and about-me page.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Template-based pages use static HTML with variable substitution\n- Contact and about-me pages are generated via 1Platform AI\n- Requires an active App with AI provider configured",
        "operationId": "generate_legal_pages_api_v1_users_websites__website_id__legal_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legal pages generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_LegalPageData_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "lang": "es",
                    "pages": {
                      "privacy_policy": {
                        "title": "Política de Privacidad",
                        "content": "<h1>Política de Privacidad</h1>..."
                      },
                      "cookie_policy": {
                        "title": "Política de Cookies",
                        "content": "<h1>Política de Cookies</h1>..."
                      }
                    },
                    "meta": {
                      "slug_map": {
                        "privacy_policy": "politica-de-privacidad",
                        "cookie_policy": "politica-de-cookies"
                      }
                    }
                  },
                  "msg": "Legal pages generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "AI generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/generations/comments": {
      "post": {
        "tags": [
          "AI Generators"
        ],
        "summary": "Generate fictional comments",
        "description": "Generate realistic fictional comments using AI for website content seeding.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 5 req/min\n- Each comment includes a fictional author name and content text\n- All comments are generated in a single AI request\n- Requires an active App with AI provider configured\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/generations/comments \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"count\": 5, \"lang\": \"es\", \"context\": \"Blog de tecnología\"}'\n```",
        "operationId": "generate_comments_api_v1_users_generations_comments_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentGenerationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comments generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_CommentGenerationResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "user_id": "507f1f77bcf86cd799439011",
                    "lang": "es",
                    "count": 5,
                    "comments": [
                      {
                        "full_name": "María García",
                        "content": "Excelente artículo, muy bien documentado."
                      }
                    ]
                  },
                  "msg": "Successfully generated 5 comments"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or AI generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/generations/images": {
      "post": {
        "tags": [
          "AI Generators"
        ],
        "summary": "Generate AI images",
        "description": "Generate images using a configurable AI provider.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 5 req/min\n- Each image is generated individually; partial results are returned if some attempts fail\n- Image metadata is persisted for each generation\n- Requires an active App with AI provider configured",
        "operationId": "generate_user_images_api_v1_users_generations_images_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateUserImagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images generated successfully (may include partial results)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_GenerateUserImagesResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 2,
                    "provider": "default",
                    "images": [
                      {
                        "url": "https://cdn.example.com/img1.png",
                        "prompt": "Professional headshot..."
                      }
                    ]
                  },
                  "msg": "Successfully generated 2 images"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "All image generation attempts failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/generations/profile": {
      "post": {
        "tags": [
          "AI Generators"
        ],
        "summary": "Generate a profile card",
        "description": "Generate a complete profile card for a person using AI.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 5 req/min\n- Includes gender detection, bio generation, social media discovery, and profile image retrieval\n- Provide the person's name as `owner`; optional `context` enriches the bio\n- Requires AI, search, and image provider keys in the App configuration",
        "operationId": "generate_profile_api_v1_users_generations_profile_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileGenerationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_ProfileGenerationResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid owner name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "AI generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/transactions": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a payment transaction",
        "description": "Create a new payment transaction and receive a checkout URL.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Payment is processed via the integrated payment service\n- Returns a `payment_url` where the user completes checkout\n- Transaction starts with status `CREATED`; status updates arrive via webhook\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/transactions \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"amount\": 25.00, \"currency\": \"USD\", \"description\": \"Credit purchase\"}'\n```",
        "operationId": "create_transaction_api_v1_users_transactions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created — redirect user to payment URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TransactionResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing record not found for user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — invalid request data"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Payment provider temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get transaction history",
        "description": "Retrieve paginated transaction history for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- `limit`: max transactions to return (default: 50, max: 100)\n- `skip`: offset for pagination (default: 0)",
        "operationId": "get_transaction_history_api_v1_users_transactions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum transactions to return (1-100)",
              "default": 50,
              "title": "Limit"
            },
            "description": "Maximum transactions to return (1-100)"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of transactions to skip for pagination",
              "default": 0,
              "title": "Skip"
            },
            "description": "Number of transactions to skip for pagination"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TransactionHistoryResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/subscriptions/{subscription_id}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get subscription details",
        "description": "Retrieve details of a specific subscription for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- **Note:** This endpoint currently returns a preview response — full subscription management will be available in a future release",
        "operationId": "get_subscription_api_v1_users_subscriptions__subscription_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Subscription ID",
              "title": "Subscription Id"
            },
            "description": "Subscription ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/transactions": {
      "post": {
        "tags": [
          "Payment Notifications"
        ],
        "summary": "Process payment webhook",
        "description": "Receive transaction status updates from the payment service.\n\n- **Auth:** None — this endpoint is called by the external payment provider\n- **Idempotent:** Duplicate webhooks are safely ignored (prevents double-charging)\n- **Always returns HTTP 200** to prevent aggressive retries from the provider\n\n- Webhook authenticity is verified via HMAC signature validation\n**Flow:**\n1. Extract `customKeys.externalId` to find the local transaction\n2. Check idempotency (if status unchanged, return success)\n3. Validate status transition\n4. Update transaction status\n5. If approved, credit the user's balance\n\n**Response format** (simple JSON, not ResponseWrapper):\n```json\n{\"status\": \"success\", \"message\": \"Processed\"}\n```",
        "operationId": "process_transaction_webhook_api_v1_webhooks_transactions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "transaction_id": {
                    "type": "string",
                    "title": "Transaction Id",
                    "description": "Migo transaction ID (external_transaction_id)"
                  },
                  "status": {
                    "type": "string",
                    "title": "Status",
                    "description": "Transaction status (will be mapped to TransactionStatus enum)"
                  },
                  "amount": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "title": "Amount",
                    "description": "Transaction amount in GTQ"
                  },
                  "currency": {
                    "type": "string",
                    "title": "Currency",
                    "description": "Currency code"
                  },
                  "reference": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Reference",
                    "description": "Migo internal reference"
                  },
                  "timestamp": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Timestamp",
                    "description": "Webhook timestamp"
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Country",
                    "description": "Country code"
                  },
                  "channel": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Channel",
                    "description": "Payment channel"
                  },
                  "externalId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Externalid",
                    "description": "External identifier"
                  },
                  "customKeys": {
                    "anyOf": [
                      {
                        "additionalProperties": true,
                        "type": "object"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "title": "Customkeys",
                    "description": "Custom keys sent during transaction creation"
                  }
                },
                "type": "object",
                "required": [
                  "transaction_id",
                  "status",
                  "amount",
                  "currency"
                ],
                "title": "WebhookPayload",
                "description": "Webhook payload from Migo payment provider.\n\nUsed by POST /api/v1/webhooks/transactions endpoint.\nField names match Migo's webhook format.",
                "example": {
                  "amount": 78,
                  "currency": "GTQ",
                  "customKeys": {
                    "externalId": "65a1b2c3d4e5f6789abcdef0"
                  },
                  "reference": "MIGOGT123456",
                  "status": "approved",
                  "timestamp": "2024-01-01T12:00:00Z",
                  "transaction_id": "migo_tx_abc123"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook processed (or safely ignored if duplicate)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProcessedResponse"
                },
                "example": {
                  "status": "success",
                  "message": "Processed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/businesses": {
      "post": {
        "tags": [
          "Businesses & Branches"
        ],
[...]
