{
  "openapi": "3.1.0",
  "info": {
    "title": "1Platform API",
    "description": "# 1Platform API\n\nREST API powering the **1Platform** platform — content generation, SEO tooling, billing, invoicing, and third-party integrations.\n\n---\n\n## Authentication\n\n1Platform uses a **two-token** authentication model:\n\n| Token | Header | How to obtain | Purpose |\n|-------|--------|---------------|---------|\n| **App token** | `Authorization: Bearer <token>` | `POST /api/v1/auth/token` with your App API key | Identifies the calling application |\n| **User token** | `x-user-token: <token>` | `POST /api/v1/users/token` with the user API key | Identifies the end user |\n\nMost endpoints require **both** tokens. Exceptions are noted per endpoint.\n\n## Quickstart\n\n```bash\n# 1. Get an app token\ncurl -X POST https://api.1platform.pro/api/v1/auth/token \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"ak-your-app-api-key\"}'\n\n# 2. Get a user token (requires app token)\ncurl -X POST https://api.1platform.pro/api/v1/users/token \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"sk-user-api-key\"}'\n\n# 3. Call any protected endpoint (requires both tokens)\ncurl https://api.1platform.pro/api/v1/users/profile \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\"\n```\n\n## Base URL\n\nAll endpoints are prefixed with `/api/v1/`.\n\n## Rate Limits\n\n| Category | Limit |\n|----------|-------|\n| Health | 100 req/min |\n| Auth | 10 req/min |\n| Read operations | 50 req/min |\n| Write operations | 20 req/min |\n| Keyword generation | 10 req/min |\n| Content generation | 5 req/min |\n| Indexing | 20 req/min |\n| Agent runs | 10 req/min |\n| Agent wizard | 20 req/min |\n| Agent CRUD | 30 req/min |\n| Agent metrics | 10 req/min |\n| Client logs | 10 req/min |\n| Analytics reads | 30 req/min |\n| Analytics writes | 10 req/min |\n| Analytics reports | 20 req/min |\n| Analytics realtime | 10 req/min |\n| Analytics events | 10 req/min |\n\n## Response Format\n\nAll endpoints return a standard wrapper (except webhooks):\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"msg\": \"Operation completed successfully\"\n}\n```\n",
    "version": "PRODv5.36.0"
  },
  "servers": [
    {
      "url": "https://api.1platform.pro",
      "description": "Production"
    },
    {
      "url": "https://api-qa.1platform.pro",
      "description": "QA"
    }
  ],
  "paths": {
    "/api/v1/health/": {
      "get": {
        "tags": [
          "API Status"
        ],
        "summary": "Check service health",
        "description": "Returns the current health status of the API and its dependencies (database connectivity, etc.).\n\n- **Auth:** None required\n- **Rate limit:** 100 req/min",
        "operationId": "checkHealth",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_HealthStatus_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "service": "ok",
                    "database": "ok",
                    "environment": "production"
                  },
                  "msg": "Health check completed"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unhealthy — dependency check failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Database connection failed"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/token": {
      "post": {
        "tags": [
          "Get App Token"
        ],
        "summary": "Generate app token",
        "description": "Authenticate with an App API key and receive a JWT app token.\n\n- **Auth:** None — this is the entry point for obtaining tokens\n- **Rate limit:** 10 req/min\n- The returned `access_token` must be sent as `Authorization: Bearer <token>` on all protected endpoints\n- Token expires after the time indicated in `expires_in` (seconds)",
        "operationId": "generateAppToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "example": {
                "apiKey": "ak-your-app-api-key-here"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TokenResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIs...",
                    "token_type": "bearer",
                    "expires_in": 1800
                  },
                  "msg": "App token generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — missing or malformed `apiKey`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: apiKey field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts": {
      "get": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "List Generated Articles",
        "description": "List the authenticated user's generated articles — i.e. completed content-generation jobs — newest first. Powers the dashboard 'articles published' KPI, which buckets `created_at` by month.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n\nItems are capped at the 1000 most recent; `total` is the exact count.\n\n**cURL example:**\n```bash\ncurl https://api.1platform.pro/api/v1/posts \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\"\n```",
        "operationId": "listPosts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Articles retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_ArticleListResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 2,
                    "items": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "created_at": "2026-01-15T10:30:00Z"
                      },
                      {
                        "id": "507f1f77bcf86cd799439012",
                        "created_at": "2025-12-02T08:15:00Z"
                      }
                    ]
                  },
                  "msg": "Articles retrieved"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/keywords/": {
      "post": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "Extract Keywords From Domain",
        "description": "Analyze a domain and extract SEO keywords using AI-powered search analysis. Requires an active App with an AI provider configured.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 10 req/min\n\n**Process:**\n1. Analyzes domain content and structure\n2. Extracts relevant keywords via search providers\n3. Uses 1Platform AI to detect keyword cannibalization\n4. Categorizes keywords by search intent and volume\n5. Returns structured keyword data with metrics\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/keywords/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"domain\": \"example.com\", \"country\": \"es\", \"lang\": \"en\"}'\n```",
        "operationId": "extractKeywords",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordGenerationRequest"
              },
              "example": {
                "domain": "ecologiaverde.com",
                "country": "es",
                "lang": "en"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Keywords generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_KeywordExtractResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 50,
                    "categories": [
                      "SEO",
                      "Content Marketing"
                    ],
                    "country": "es",
                    "lang": "en",
                    "lookup_key": "example-com",
                    "keywords": [
                      {
                        "keyword": "example keyword",
                        "title": "Example Article Title",
                        "original_title": "Example Article Title",
                        "original_keyword": "example keyword",
                        "volume": 1200,
                        "url": "https://example.com/article"
                      }
                    ]
                  },
                  "msg": "Successfully generated 50 keywords"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for keyword extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing record not found for user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Service configuration error or provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/keywords/topic/": {
      "post": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "Extract Keywords By Topic",
        "description": "Discover SEO keywords for a topic or theme using search analysis. Returns deduplicated keywords with estimated volume.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 10 req/min\n\n**Process:**\n1. Searches topic in search engines to discover top niche domains\n2. Analyzes each domain for topic-relevant pages\n3. Extracts main keyword from each page title via AI\n4. Removes semantic duplicates (cannibalization)\n5. Returns structured keyword data with estimated volume",
        "operationId": "extractKeywordsByTopic",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordTopicRequest"
              },
              "example": {
                "topic": "plantas de interior",
                "country": "es",
                "lang": "es"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Keywords extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_KeywordExtractResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 1,
                    "categories": [
                      "SEO"
                    ],
                    "country": "es",
                    "lang": "en",
                    "lookup_key": "best-seo-tools-2024",
                    "keywords": [
                      {
                        "keyword": "best seo tools 2024",
                        "title": "Best SEO Tools 2024: Complete Guide",
                        "original_title": "Best SEO Tools 2024: Complete Guide",
                        "original_keyword": "best seo tools 2024",
                        "volume": 1200,
                        "url": "https://example.com/best-seo-tools"
                      }
                    ]
                  },
                  "msg": "Keywords extracted successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid topic or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for keyword extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing record not found for user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Search provider unavailable or keyword extraction timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/content/": {
      "post": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "Submit Content Generation Job",
        "description": "Submit an async content generation job for a target keyword. Returns immediately with a job ID. Use `GET /content/jobs/{job_id}` to poll status. Requires AI and image provider keys configured in the App.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 5 req/min (AI-intensive)\n\n**Process (runs in background):**\n1. Generates title variations via 1Platform AI\n2. Searches related content using search providers\n3. Produces structured article with headings and paragraphs\n4. Fetches relevant images from the configured image library\n5. Creates a URL-friendly slug\n6. Classifies content into provided categories\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/content/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"keyword\": \"best running shoes\", \"lang\": \"en\", \"image_provider\": \"default\", \"categories\": [\"sports\"]}'\n```",
        "operationId": "generateContent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Site-URL",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Origin site URL reported by the plugin",
              "title": "X-Site-Url"
            },
            "description": "Origin site URL reported by the plugin"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentGenerationRequest"
              },
              "example": {
                "keyword": "sustainable gardening tips",
                "lang": "en",
                "country": "us",
                "image_provider": "default",
                "categories": [
                  "Home & Garden"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Content generation job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_JobResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_id": "507f1f77bcf86cd799439011",
                    "type": "content",
                    "status": "pending",
                    "input": {
                      "keyword": "best running shoes",
                      "lang": "en",
                      "image_provider": "default"
                    },
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "Content generation job created for keyword: best running shoes"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for content generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing record not found for user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Service configuration error or AI provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/content/jobs/{job_id}": {
      "get": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "Get Content Generation Job",
        "description": "Poll the status of an async content generation job. Returns one of `pending`, `processing`, `completed`, or `failed` along with the full result on success.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n\n**Recommended polling interval:** 5 seconds\n\n**cURL example:**\n```bash\ncurl https://api.1platform.pro/api/v1/posts/content/jobs/JOB_ID \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\"\n```",
        "operationId": "getContentJob",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Content generation job ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Job Id"
            },
            "description": "Content generation job ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_JobResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_id": "507f1f77bcf86cd799439011",
                    "type": "content",
                    "status": "completed",
                    "input": {
                      "keyword": "best running shoes",
                      "lang": "en",
                      "image_provider": "default"
                    },
                    "result": {
                      "title": "Best Running Shoes for 2026",
                      "content": "...",
                      "slug": "best-running-shoes-2026"
                    },
                    "timing": {
                      "total_ms": 8420
                    },
                    "created_at": "2026-01-15T10:30:00",
                    "started_at": "2026-01-15T10:30:01",
                    "completed_at": "2026-01-15T10:30:09"
                  },
                  "msg": "Job status: completed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/indexing/": {
      "post": {
        "tags": [
          "Keywords Content & Indexing"
        ],
        "summary": "Submit URL For Indexing",
        "description": "Submit a URL to the Google Indexing API for faster crawling. The URL must belong to a website verified in Google Search Console, must be publicly accessible, and a service account with Search Console access is required.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/posts/indexing/ \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"https://example.com/new-page\"}'\n```",
        "operationId": "submitIndexing",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexingRequest"
              },
              "example": {
                "url": "https://example.com/new-article"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "URL submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "submitted",
                    "url": "https://example.com/new-page"
                  },
                  "msg": "URL successfully submitted for indexing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL format or inaccessible URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for indexing operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing record not found for user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Indexing API error or service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/token": {
      "post": {
        "tags": [
          "Users & Tokens"
        ],
        "summary": "Generate user token",
        "description": "Authenticate with a user API key and receive a JWT user token.\n\n- **Auth:** `Authorization: Bearer <app_token>` only (no user token needed)\n- **Rate limit:** 10 req/min\n- The returned token must be sent as the `x-user-token` header on all user-scoped requests\n- Token expires after the time indicated in `expires_in` (seconds)\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/token \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"apiKey\": \"sk-user-api-key\"}'\n```",
        "operationId": "getUserToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "example": {
                "apiKey": "sk-your-user-api-key-here"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_TokenResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIs...",
                    "token_type": "bearer",
                    "expires_in": 1800
                  },
                  "msg": "User token generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — missing or malformed `apiKey`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: apiKey field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "post": {
        "tags": [
          "Users & Tokens"
        ],
        "summary": "Create a new user",
        "description": "Register a new user with automatic billing and subscription setup.\n\n- **Auth:** `Authorization: Bearer <app_token>` only (no user token needed)\n- **Rate limit:** 20 req/min\n- Creates a User, Billing (balance=0 USD), and Subscription (Free Plan)\n- Returns the user's `api_key` used to obtain user tokens via `POST /api/v1/users/token`\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"email\": \"user@example.com\"}'\n```",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              },
              "example": {
                "email": "user@example.com",
                "currency": "USD"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created successfully with billing and subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "username": "user_example",
                    "api_key": "sk-abc123xyz",
                    "is_active": true,
                    "billing_id": "507f1f77bcf86cd799439012",
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "User created successfully with billing and subscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (app token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "msg": "Validation error: email field required"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/profile": {
      "get": {
        "tags": [
          "My Profile"
        ],
        "summary": "Get current user profile",
        "description": "Retrieve the authenticated user's profile information.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Returns id, username, email, is_active, and created_at",
        "operationId": "getUserProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserProfileResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "username": "john_doe",
                    "email": "john@example.com",
                    "is_active": true,
                    "created_at": "2026-01-15T10:30:00"
                  },
                  "msg": "User profile retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/billing": {
      "get": {
        "tags": [
          "Balance & Billing"
        ],
        "summary": "Get current user billing info",
        "description": "Retrieve billing balance and active subscription data for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Returns balance, currency, and active subscription details",
        "operationId": "getUserBilling",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_UserBillingResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "billing": {
                      "id": "507f1f77bcf86cd799439012",
                      "user_id": "507f1f77bcf86cd799439011",
                      "balance": 0,
                      "currency": "USD",
                      "updated_at": "2026-01-15T10:30:00"
                    },
                    "subscription": {
                      "id": "507f1f77bcf86cd799439013",
                      "user_id": "507f1f77bcf86cd799439011",
                      "plan_id": "plan_payg",
                      "status": "active",
                      "start_date": "2026-01-01T00:00:00Z",
                      "auto_renew": false
                    }
                  },
                  "msg": "Billing information retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve billing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/categories": {
      "get": {
        "tags": [
          "Content Categories"
        ],
        "summary": "List available categories",
        "description": "Retrieve available website categories for content classification.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Filter by status: `active` (default), `inactive`, or `all`",
        "operationId": "listCategories",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by status: active, inactive, or all",
              "examples": [
                "active"
              ],
              "default": "active",
              "title": "Status Filter"
            },
            "description": "Filter by status: active, inactive, or all"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_list_CategoryResponse__"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "507f1f77bcf86cd799439011",
                      "title": {
                        "es": "Tecnología",
                        "en": "Technology"
                      },
                      "slug": "technology",
                      "status": "active",
                      "recommended_theme": "astra",
                      "created_at": "2026-01-01T00:00:00Z"
                    }
                  ],
                  "msg": "Categories retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Add a website",
        "description": "Register a new website for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Validates URL uniqueness per user\n- Optionally enriches the website with an AI-generated description\n\n**cURL example:**\n```bash\ncurl -X POST https://api.1platform.pro/api/v1/users/websites \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"https://myblog.com\", \"category_id\": \"<objectId>\", \"lang\": \"es\"}'\n```",
        "operationId": "createWebsite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteCreateRequest"
              },
              "example": {
                "url": "https://example.com",
                "category_id": "507f1f77bcf86cd799439011",
                "lang": "es",
                "site_name": "My Website",
                "site_description": "A tech blog about Python"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Website added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website added successfully"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Website already exists for this user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Find website by URL",
        "description": "Search for a website by its URL among the authenticated user's websites.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Pass the URL as a query parameter: `?url=https://example.com`",
        "operationId": "findWebsiteByUrl",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website URL to search",
              "examples": [
                "https://myblog.com"
              ],
              "title": "Url"
            },
            "description": "Website URL to search"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website already exists"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}": {
      "patch": {
        "tags": [
          "Websites"
        ],
        "summary": "Update a website",
        "description": "Update an existing website for the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Only the website owner can update it\n- All fields are optional (partial update)\n- Use this endpoint to set or update the `category_id`\n\n**cURL example:**\n```bash\ncurl -X PATCH https://api.1platform.pro/api/v1/users/websites/<WEBSITE_ID> \\\n  -H \"Authorization: Bearer $APP_TOKEN\" \\\n  -H \"x-user-token: $USER_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"category_id\": \"<objectId>\", \"site_name\": \"Updated Name\"}'\n```",
        "operationId": "updateWebsite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteUpdateRequest"
              },
              "example": {
                "site_name": "Updated Name",
                "site_description": "Updated description",
                "category_id": "507f1f77bcf86cd799439011",
                "lang": "en",
                "theme": "astra"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Website updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "en",
                    "status": "active",
                    "site_name": "Updated Name",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website updated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error in request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get website by ID",
        "description": "Retrieve details of a specific website by its ID.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Only returns websites owned by the authenticated user",
        "operationId": "getWebsite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "url": "https://example.com",
                    "slug": "example-com",
                    "active": true,
                    "user_id": "507f1f77bcf86cd799439012",
                    "lang": "es",
                    "status": "active",
                    "site_name": "My Website",
                    "created_at": "2026-01-15T10:30:00Z",
                    "actions": {
                      "search_console": {
                        "verification": {
                          "verified": false
                        },
                        "sitemaps": []
                      },
                      "publisuites": {
                        "verification": {
                          "verified": false
                        }
                      }
                    }
                  },
                  "msg": "Website retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Websites"
        ],
        "summary": "Delete a website",
        "description": "Remove a website from the authenticated user's account.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Only the website owner can delete it\n- This action is irreversible",
        "operationId": "deleteWebsite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Website deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "deleted": true
                  },
                  "msg": "Website deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/mine": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "List my websites",
        "description": "Paginated list of the websites registered by the authenticated user.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 50 req/min\n- Only returns websites owned by the authenticated user\n- Deleted websites are excluded\n\nThis is the collection listing. To look a single site up by its URL use `GET /users/websites?url=<url>`, which answers with one website or 404.",
        "operationId": "listMyWebsites",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size (1-100)",
              "default": 20,
              "title": "Limit"
            },
            "description": "Page size (1-100)"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100000,
              "minimum": 0,
              "description": "Number of items to skip for pagination",
              "default": 0,
              "title": "Skip"
            },
            "description": "Number of items to skip for pagination"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Websites retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_WebsiteListResponse_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "websites": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "url": "https://example.com/",
                        "slug": "example-com",
                        "domain": "example.com",
                        "site_name": "My Website",
                        "status": "active",
                        "active": true,
                        "lang": "es",
                        "theme": "astra",
                        "created_at": "2026-01-15T10:30:00Z"
                      }
                    ],
                    "total": 1,
                    "limit": 20,
                    "skip": 0
                  },
                  "msg": "Websites retrieved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/recheck": {
      "post": {
        "tags": [
          "Websites"
        ],
        "summary": "Re-check a website's setup",
        "description": "Run the site's setup again and refresh its status.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- Free: nothing is charged.\n- Safe to repeat: steps that already succeeded are skipped, so nothing is created twice and no email is sent again.\n- A site that is already working is never downgraded by a failed check.",
        "operationId": "recheckWebsite",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Re-check started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "507f1f77bcf86cd799439011",
                    "job_id": "66c1f0a2b4d3e5f60718293a",
                    "status": "pending",
                    "started": true
                  },
                  "msg": "Re-check started"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/publisuites": {
      "post": {
        "tags": [
          "Link Building & Search Console"
        ],
        "summary": "Manage link-building integration",
        "description": "Add or verify a website in the link-building marketplace.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Actions:** `add` (register website) or `verify` (confirm ownership)\n- The user must have marketplace credentials configured\n- After adding, verify ownership to activate the listing",
        "operationId": "manageLinkBuildingActions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublisuitesActionRequest"
              },
              "example": {
                "action": "verify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "verified",
                    "website_id": 12345
                  },
                  "msg": "Website verified in marketplace successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid action, missing credentials, or verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found in marketplace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Link-building service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/searchconsole": {
      "post": {
        "tags": [
          "Link Building & Search Console"
        ],
        "summary": "Manage Search Console integration",
        "description": "Add, verify, delete a website or manage sitemaps in Google Search Console.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Actions:** `add`, `verify`, `delete`, `sitemaps`\n- The website must be registered in the platform before adding to Search Console\n- For `sitemaps` action, include a `payload.sitemaps` array with sitemap URLs\n- `sitemaps` requires ownership to be verified first; before that it returns 412 without charging\n- `add` accepts an optional `verification_method` (`FILE`, the default, or `META`). `META` is only available for sites 1Platform serves, because it publishes the tag on the site itself; asking for it on any other site returns 409 without charging.\n- Requires a Google service account with Search Console access",
        "operationId": "manageSearchConsoleActions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchConsoleActionRequest"
              },
              "example": {
                "action": "sitemaps",
                "payload": {
                  "sitemaps": [
                    "https://example.com/sitemap.xml"
                  ]
                }
              },
              "examples": {
                "sitemaps": {
                  "summary": "Submit sitemaps",
                  "value": {
                    "action": "sitemaps",
                    "payload": {
                      "sitemaps": [
                        "https://example.com/sitemap.xml"
                      ]
                    }
                  }
                },
                "add_meta": {
                  "summary": "Register asking for meta-tag verification",
                  "value": {
                    "action": "add",
                    "verification_method": "META"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_dict_"
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "verified",
                    "site_url": "https://example.com"
                  },
                  "msg": "Website verified successfully in Search Console"
                }
              }
            }
          },
          "400": {
            "description": "Invalid action or website not registered in Search Console",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for this operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Website not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Meta-tag verification asked for a site 1Platform does not serve, or a method conflict with the stored one",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Sitemaps submitted before ownership verification — verify the website first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Google Search Console API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/searchconsole/performance": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get aggregate search performance across every website",
        "description": "Retrieve one report that sums the search performance of ALL the caller's websites: 4 KPIs (clicks, impressions, CTR, average position) with a delta vs. the immediately preceding period of equal length, plus a daily series of how the total moved.\n\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Free** — a read-only report, never charged\n- A site registered twice counts ONCE. `coverage` says how many properties the totals cover, how many documents were folded into another, and how many sites cannot contribute yet\n- Served entirely from the figures 1Platform has stored and refreshes in the background; this endpoint never fetches anything live, so a site that has never synchronised is counted rather than loaded\n- `end_date` is the most recent day that HAS data, which can be yesterday even when the report is requested today",
        "operationId": "getSearchConsoleAggregatePerformance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PerformancePeriod",
              "description": "Report time period",
              "default": "28d"
            },
            "description": "Report time period"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate performance report retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_SearchConsoleAggregatePerformanceResponse_"
                },
                "example": {
                  "success": true,
                  "msg": "Aggregate search performance retrieved",
                  "data": {
                    "period": "28d",
                    "start_date": "2026-07-28",
                    "end_date": "2026-08-24",
                    "summary": {
                      "clicks": {
                        "current": 10070,
                        "previous": 8534,
                        "change_percent": 18
                      },
                      "impressions": {
                        "current": 26134,
                        "previous": 25081,
                        "change_percent": 4.2
                      },
                      "ctr": {
                        "current": 0.385,
                        "previous": 0.34,
                        "change_percent": 13.24
                      },
                      "position": {
                        "current": 12.4,
                        "previous": 14.3,
                        "change_percent": -13.29
                      }
                    },
                    "trend": [
                      {
                        "date": "2026-07-28",
                        "clicks": 412,
                        "impressions": 1033
                      }
                    ],
                    "coverage": {
                      "sites_total": 37,
                      "sites_duplicated": 2,
                      "sites_counted": 26,
                      "sites_with_data": 26,
                      "sites_never_synced": 4,
                      "sites_unverified": 5,
                      "sites_stale": 4,
                      "sites_blocked": 4,
                      "truncated": false
                    },
                    "last_synced_at": "2026-08-24T01:06:12Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/websites/{website_id}/searchconsole/performance": {
      "get": {
        "tags": [
          "Websites"
        ],
        "summary": "Get Search Console performance for a website",
        "description": "Retrieve a Search Console performance report for a verified website: 4 KPIs (clicks, impressions, CTR, average position) with a delta vs. the immediately preceding period of equal length, a daily trend, and the first 25 queries/pages/countries by clicks.\n\n- Each breakdown also reports how many distinct keys it HAS for the period (`queries_total`, `pages_total`, `countries_total`), so a table that ends at 25 can be told apart from one that was cut at 25. Rows beyond the first 25, and any other ordering, come from `GET /users/websites/{website_id}/searchconsole/performance/{dimension}`\n- **Auth:** `Authorization: Bearer <app_token>` + `x-user-token: <user_token>`\n- **Rate limit:** 20 req/min\n- **Free** — unlike add/verify/delete/sitemaps, this is a read-only report and is never charged\n- Served from the figures 1Platform has stored, refreshed periodically in the background; `last_synced_at` says when. A site that has never been synchronised is loaded on this first request and answers a little slower\n- Requires the website to already be verified in Search Console (409 otherwise)",
        "operationId": "getSearchConsolePerformance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "website_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Website ID",
              "examples": [
                "507f1f77bcf86cd799439011"
              ],
              "title": "Website Id"
            },
            "description": "Website ID"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PerformancePeriod",
              "description": "Report time period",
              "default": "28d"
            },
            "description": "Report time period"
          },
          {
            "name": "x-user-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User JWT token",
              "title": "X-User-Token"
            },
            "description": "User JWT token"
          }
        ],
        "responses": {
          "200": {
            "description": "Performance report retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse_SearchConsolePerformanceResponse_"
                },
                "example": {
                  "success": true,
[...]
